body {
  margin: 0;
  font-family: "News Cycle", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  /* cursor: pointer; */
  background-image: url("./assets/img/stars.jpg");
  background-size: 100vw;
  cursor: url("./assets/img/lightsaber.png"), auto;
}

.App {
  color: #ffe81f;
}

/*  COLOR PALLETTE */
/* yellow --> #FFE81F*/

/*NAVBAR*/

.navbar {
  text-align: start;
  cursor: url("./assets/svg/lightsaber.svg"), 4 12, pointer;
}

.nav-link.navbar-nav.nav-link {
  color: #ffe81f;
  font-weight: bold;
  font-size: 1.2rem;
}

/*Button*/

.btn {
  background: #ffe81f !important;
  border: solid 1px black;
  color: black;
}

.btn:hover {
  border: solid 1px white;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 32, 32, 0.5);
  border: solid 1px grey;
}

.btn:disabled {
  border: solid 1px black;
}

/*MY GALACTIC LEAGUE*/

.fav-icon {
  height: 36px;
}

.fav-icon:hover {
  transform: scale(1.15);
  transition: all 0.2s ease-in-out;
}

/*LOADING COMPONENT*/

.loading {
  height: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: loading-spin infinite 5s linear;
  }
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
